.mosasaurusPage {
  height: 100vh;
}

#mosasaurusCanvas {
  width: 100%;
  height: 100%;
}
// .mosasaurusPage__title {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 3rem;
//   color: #fff;
// }
