.mosasaurusPage {
  height: 100vh;
  overflow: hidden;
  position: relative !important;
  .mosasaurusInfo {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 50%;
    color: #fff;
  }
}

#mosasaurusCanvas {
  width: 50%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
}
// .mosasaurusPage__title {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 3rem;
//   color: #fff;
// }
